* {
    padding: 0;
    margin: 0;
}

:root {
    --max-width: 1100px;
    --primary-color: darkblue;
    --secondary-color:skyblue; 
    --light--color: cornflowerblue;

} 


body {
    background: var(--light--color);
    background-color: cornflowerblue;
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: var(--primary-color);
}
h2 {
    color: var(--secondary-color);
}

.card {
    border: 1px solid #CCC;
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 10px;
}

.enhance {
    color: yellow;
    background-color: black;
}
