* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 100px;
  margin: 5px;
}
